.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--colorch);
    transform: translateX(100%);
    transition: transform 0.5s;
    &.is-open{
        transform: translateX(0);
    }
    &__button{
        background-color: transparent;
        border: none;
        position: absolute;
        top: 16px;
        right: 100px;
    }
    &__nav{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 20px;
        
       
    }
    &__link{
        text-decoration: none;
        color: var(--color_primarydark);
        &:hover{
            color: var(--colorb);
            
        }
    }
    

}
// .fa-xmark{
//     font-size: 2em;
// }
